.card {
  border-radius: 8px;
  cursor: pointer;
  transition: ease all 200ms;
  width: fit-content;
  background-color: transparent;
  color: var(--font-color);
}

.card:hover {
  transform: scale(1.03);
}

.card__img {
  position: relative;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  transition: ease all 200ms;
  filter: brightness(80%);
  margin-bottom: 0.5rem;
}

.card__title {
  font-size: 0.92rem;
  color: var(--primary-color);
  text-overflow: ellipsis;
  max-width: 35ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:hover .card__img {
  filter: initial;
  box-shadow: 0 16px 30px rgba(92, 114, 138, 0.16);
}
