/* Reset styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-foreground: rgb(237, 241, 245);
  --font-color: rgb(92, 114, 138);
  --primary-color: rgb(188, 78, 0);
  --card-box-shadow: 0 8px 22px rgba(92, 114, 138, 0.12);
}

body {
  max-width: 1200px;
  width: 95%;
  margin: 2rem auto;
  background-color: var(--color-foreground);
  font-family: sans-serif;
  color: var(--font-color);
}

.btn {
  border-radius: 4px;
  padding: 8px 16px;
  color: inherit;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.btn--active {
  border-color: rgba(92, 17, 255, 0.8);
  background-color: rgba(92, 17, 255, 0.8);
  color: #fff;
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto-fill, 400px);
  gap: 1rem;
}
.sort-filters-wrapper {
  display: flex;
  gap: 1rem
}
